.gpt3__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gpt3__brand div {
  flex: 1;
  max-width: 150px;
  min-width: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .gpt3__brand {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .gpt3__brand div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__brand {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
  }
}
